<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DeviceProperties</key>
	<dict>
		<key>Add</key>
		<dict>
			<key>PciRoot(0x0)/Pci(0x2,0x0)</key>
			<dict>
				<key>AAPL,ig-platform-id</key>
				<data>
				BwCbPg==
				</data>
				<key>enable-lspcon-support</key>
				<data>
				AQAAAA==
				</data>
				<key>framebuffer-con2-busid</key>
				<data>
				BAAAAA==
				</data>
				<key>framebuffer-con2-enable</key>
				<data>
				AQAAAA==
				</data>
				<key>framebuffer-con2-has-lspcon</key>
				<data>
				AQAAAA==
				</data>
				<key>framebuffer-con2-type</key>
				<data>
				AAgAAA==
				</data>
				<key>framebuffer-patch-enable</key>
				<data>
				AQAAAA==
				</data>
				<key>model</key>
				<string>Intel UHD Graphics 630</string>
			</dict>
		</dict>
	</dict>
	<key>PlatformInfo</key>
	<dict>
		<key>Generic</key>
		<dict>
			<key>SystemProductName</key>
			<string>iMac20,1</string>
		</dict>
	</dict>
</dict>
</plist>
