<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DeviceProperties</key>
	<dict>
		<key>Add</key>
		<dict>
			<key>PciRoot(0x0)/Pci(0x1,0x0)/Pci(0x0,0x0)</key>
			<dict>
				<key>@0,name</key>
				<string>ATY,Orinoco</string>
				<key>AAPL,slot-name</key>
				<string>Slot-1@0,1,0/0,0</string>
				<key>PP_PhmSoftPowerPlayTable</key>
				<data>
				QQMHAQBNAIEGAACaKAAAGQAAAACABgFADQMAcIIDADIA
				GQBNAKECmAIAALUBOwF3APkA3gEGAwAA0QIAACADOgNM
				EQIAUwcAAAAAAAABAgAAAAAAAAAACAAAAAAAAAAAAAAA
				BwACAAAAAAAFAAAAAAAAAAAAAAAAEO4CAAAAAAAAAv8A
				AAAAAAAD/wAAAAAAAAT/AAAAAAAABf8AAAAAAAAG/wAA
				AAAAAAf/AAAAAAAACP8AAAAAAAAgAwAAAAAAAFIDAAAA
				AAAAhAMAAAAAAAC2AwAAAAAAAOgDAAAAAAAAGgQAAAAA
				AABMBAAAAAAAAH4EAAAAAAAAAAiEAwAAAAAAAAL/AAAA
				AAAAA/8AAAAAAAAE/wAAAAAAAAX/AAAAAAAABv8AAAAA
				AAAH/wAAAAAAAAj/AAAAAAAAAQgAAAAwdQAAAAAAgAAA
				AAAB5v9g6gAAAAAAAAAAAAAC5v+QXwEAAAAAAAAAAAAD
				5v9EvwEAAAAAAAAAAAAE5v+c2gEAAAAAAAAAAAAF5v8E
				6wEAAAAAAAAAAAAG5v/Q+wEAAAAAAAAAAAAHAAAsJwIA
				AAAAAAAAAAAAAwAgAwAA6AMwdQAAAAAIUgMAAOgDoIYB
				AAAAC7YDAADoA5irAgAAAAAICAAAkOIAAPgkAQAY9gAA
				AAAAAKjeAAAJtP8Y9gAAgDgBAIgNAQAAAAAAAPoAAAqb
				/6AJAQAITAEA+CQBAAAAAABwEQEAC4L/KB0BAKhbAQBo
				PAEAAAAAAOAoAQAMaf/ILAEAYGcBAPBPAQAAAAAAaDwB
				AA03/4A4AQAYcwEAeGMBAAAAAAAITAEADgX/OEQBANB+
				AQAAdwEAAAAAAMBXAQAPAADwTwEAoIYBAKCGAQAAAAAA
				eGMBAAEXAAACACAAAAkDoA9kGTQh0AegD3AXlCoBZADk
				EugILCcCAEsSeAB4AGQAeAB4AHgAZAABLjYAAASRAAAA
				lACvAK8AAAAAAK8AVQAAAAAAXgACAGkAUABQAHMAcwBf
				AAAAkCCWAJAAAAYAAAAAAQYAAAECAAEBAgACAQIAAgEC
				AAIBAgACAQIBAwAQAAAAAAAAABAAAAAAAAACEAAAAAAA
				AAABAAAAAAA=
				</data>
				<key>PP_WorkLoadPolicyMask</key>
				<integer>8</integer>
				<key>device_type</key>
				<string>VGA compatible controller</string>
				<key>model</key>
				<string>Sapphire Nitro+ Radeon RX 580</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
