<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Booter</key>
	<dict>
		<key>MmioWhitelist</key>
		<array>
			<dict>
				<key>Address</key>
				<integer>3758096384</integer>
				<key>Comment</key>
				<string>MMIO devirt 0xE0000000</string>
				<key>Enabled</key>
				<true/>
			</dict>
			<dict>
				<key>Address</key>
				<integer>4227858432</integer>
				<key>Comment</key>
				<string>MMIO devirt 0xFC000000</string>
				<key>Enabled</key>
				<true/>
			</dict>
			<dict>
				<key>Address</key>
				<integer>4261412864</integer>
				<key>Comment</key>
				<string>MMIO devirt 0xFE000000</string>
				<key>Enabled</key>
				<true/>
			</dict>
			<dict>
				<key>Address</key>
				<integer>4273995776</integer>
				<key>Comment</key>
				<string>MMIO devirt 0xFEC00000</string>
				<key>Enabled</key>
				<true/>
			</dict>
			<dict>
				<key>Address</key>
				<integer>4276092928</integer>
				<key>Comment</key>
				<string>MMIO devirt 0xFEE00000</string>
				<key>Enabled</key>
				<true/>
			</dict>
			<dict>
				<key>Address</key>
				<integer>4278190080</integer>
				<key>Comment</key>
				<string>MMIO devirt 0xFF000000</string>
				<key>Enabled</key>
				<true/>
			</dict>
		</array>
	</dict>
</dict>
</plist>
